.inputsearch {
  padding: 0.5rem 0.75rem;
  width: 33.333333%;
  border-width: 1px;
  border-radius: 4px;
  border-color: #00214D; 
}

.inputsearch:hover, .inputsearch:active {
  border-width: 2px;
  border-radius: 4px;
  border-color: #00214D;
}

.card {
  overflow: hidden;
  border-radius: 8px;
}

.card:hover {
  border-width: 2px;
  border-color: #00214D;
}

.navbar {
  padding: 20px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #00214D;
  color: #FBFCFC;
}

.footer {
  padding: 40px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #00214D;
  color: #FBFCFC;
}